   <!-- ******HEADER****** -->
    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" width="180" height="180" src="@Url.Content(Model.Path)" alt="James Lee" />
            <div class="profile-content pull-left">
                <h1 class="name">@Model.Name @Model.Surname</h1>
                <h2 class="desc">@Model.UserName</h2>
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="#" <i class="fa fa-paper-plane"></i>Сообщение</a>
        </div><!--//container-->
    </header>
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>Возраст: @Model.Age</p>
                            <p>Страна: @Model.Country</p>
                            <p>Почта: @Model.Email</p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section>
            </div>
        </div>
    </div>